<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id='errors'>
      <h2><%= pluralize(@post.errors.count, 'error') %> errors need to be fixed before we can save your post!</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>

    <%= f.label :body %><br>
    <%= f.text_area :body, class: "form-control" %>

    <%= f.fields_for :tags, @post.tags.build do |t| %>
      <%= t.label :name %>
      <%= t.text_field :name, class: "form-control" %>
    <% end %>

    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name, :inline => true %><br>

  <%= f.submit 'Create Post', class: 'btn btn-default btn-primary' %>

<% end %>
