<!DOCTYPE html>
<html>
<head>
  <title>Words</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
  <!-- NavBar -->
  <div class="hero hero-with-image hero-with-pulled-image">
    <header id='main-nav' class='nav'>
      <div class="container">
        <div class="header-content">
          <div class="logo-and-title">
            <%= link_to root_path do %>
              <%= image_tag 'white-logo.png', class: 'logo' %>
            <% end %>
          </div>
          <nav>
            <%= link_to 'About', about_path %>
            <% if !user_signed_in? %>
              <%= link_to 'Log In', new_user_session_path %></p>
            <% end %>

            <% if user_signed_in? %>
                <%= link_to 'New Post', new_post_path %>
                <%= link_to 'Log Out', destroy_user_session_path, :method => :delete %>
            <% end %>
          </nav>
        </div>
      </div>
    </header>
  </div>

  <!-- end of header -->

  <div class="background-image" style="background-image: url(/assets/background.jpg);">
  </div>

  <div class="container-fluid top-view">
    <div class="center-white">
      <h1>Welcome To Words</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      </p>
    </div>
  </div>

  <div class=main-content>
    <% if current_page?(root_path) %>
      <p>All Posts</p>
    <% elsif current_page?(about_path) %>
      <p>About</p>
    <% else %>
      <%= link_to 'See All Posts', root_path %>
    <% end %>



    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: 'alert') %>
    <% end %>

      <%= yield %>


  </div> <!-- end of main-content div -->

</body>
</html>
